.heading {
  font-size: 30px;
  color: #000000;
}

.add-category-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  background-color: #f8fafc;
}

.add-category-input {
  width: 100%;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}

.add-category-lable {
  font-size: 13px;
  margin-top: 10px;
  color: #000000;
  font-weight: bold;
}

.buttons-container {
  display: flex;
}
