.side-bar-items-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
}

.icon-text-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 50px;
}

.menu-name{
    font-size: 15px;
    font-weight: 400;
    width: 150px;
    margin: 0px 0px 0px 20px;
    font-weight: bold;
}

.orders-count{
    background-color: #000000;
    margin-left: 30px;
    border-radius: 50%;
    font-size: 12px;
    padding: 3px;
}

.categories-container{
    background-color: #ffffff;
    color: #000000;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-info{
    font-size: 13px;
    font-weight: 500;
}