.category-item-detailed-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.categories-list-conatiner {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  overflow: scroll;
  scrollbar-width: none;
}

.side-menu-bar-container {
  padding: 15px;
  width: 20vw;
  background-color: #000066;
  box-sizing: border-box;
  color: #ffffff;
  overflow: scroll;
  scrollbar-width: none;
}

.category-type-container {
  width: 80vw;
  background-color: #f8fafc;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #000000;
  padding: 20px;
}

.detailed-page-bottom-container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.add-back-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
